<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mural de Avisos</title>
</head>

<body>
    <header>
        <img src="https://th.bing.com/th/id/OIP.XOm7ltAJZk5_Gh34823JngHaHa?w=202&h=202&c=7&r=0&o=7&pid=1.7&rm=3"
            alt="School and education logo featuring an open book and graduation cap with a calm and welcoming tone, set against a simple background, includes the text School and Education">
    </header>
    <h1>Mural de Avisos</h1>
    <nav>
        <ul>
            <li><strong>Prova de Matemática:</strong> 15 de setembro</li>
            <li><strong>Festa Junina:</strong> 24 de junho</li>
            <li><strong>Reunião de Pais:</strong> 30 de agosto</li>

        </ul>
    </nav>
</body>