<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Instituto Futuro Brilhante</title>
</head>


<script src="{{ url_for('static', filename='noticias.js') }}"></script>


<body>

    <header>


        <h1>Instituto Futuro Brilhante</h1>

        <img src="https://png.pngtree.com/png-clipart/20230107/original/pngtree-school-and-education-logo-png-image_8882085.png"
            alt="School and education logo" class="logo">

        <a href="/login">
            <img src="https://cdn.icon-icons.com/icons2/3054/PNG/512/account_profile_user_icon_190494.png" alt="login"
                class="login">
        </a>

    </header>

    <main>

        <section>
            <h2 class="mural">Mural de Avisos</h2>
            <p>Bem-vindo ao mural de avisos! Aqui você encontra as últimas notícias e eventos importantes.</p>
            <p>Para mais informações, faça seu login e entre em contato com a secretaria da escola.</p>

            <div class="aviso-container">
                <ul class="avisos">
                    <li><strong>Prova de Matemática:</strong> 15 de setembro</li>
                    <li><strong>Festa Junina:</strong> 24 de junho</li>
                    <li><strong>Reunião de Pais:</strong> 30 de agosto</li>

                </ul>
                <img src="https://png.pngtree.com/png-vector/20240530/ourmid/pngtree-cute-teacher-and-students-teaching-in-front-of-classroom-lesson-board-png-image_12545503.png"
                    alt="Alunos e professora" class="mural-img">

            </div>

        </section>


        <section class="noticias">
            <h2 class="atualidades">Atualidades </h2>
            <div id="noticia-container">
                <p id="noticia-texto"></p>
            </div>


        </section>
    </main>

    <footer>
        <h2 class="contatos">Contatos</h2>
        <ul>
            <li>Email: institutofuturbr@emai.com</li>
            <li>Telefone: (10) 123456789</li>

            <li>&copy; 2025 Instituto Futuro Brilhante. Todos os direitos reservados.</li>
            <li>Desenvolvido por Ana Lívia N. Nascimento</li>
        </ul>

</body>

</html>